@font-face { 
 font-family: 'PTSANS'; 
 src: url('../fonts/PTSANS.ttf') format('truetype');
}
@font-face { 
 font-family: 'PTSANS-BOLD'; 
 src: url('../fonts/PTSAN-Bold.ttf') format('truetype');
}
@font-face { 
 font-family: 'Poppins-Bold'; 
 src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face { 
 font-family: 'Poppins-Regular'; 
 src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face { 
 font-family: 'OpenSans-Regular'; 
 src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face { 
 font-family: 'Poppins-SemiBold'; 
 src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face { 
 font-family: 'VarelaRound-Regular'; 
 src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}
@font-face { 
 font-family: 'Poppins-Light'; 
 src: url('../fonts/Poppins-Light.ttf') format('truetype');
}
@font-face { 
 font-family: 'OpenSans-Bold'; 
 src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face { 
 font-family: 'OpenSans-SemiBold'; 
 src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face { 
 font-family: 'Poppins-Medium'; 
 src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}
body{
    color: #0d0703;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px  !important;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
    margin-top: 0px;
}
p {
    margin: 0 0 20px;
    width: 100%;
    font-family: 'Open Sans';font-size:16px;
}
a {
    color: #0b0b15;
    transition: all 0.3s ease 0s;
}
a:hover {
    color: #fab907;
    text-decoration: none;
}
button{}

.gray_bg{
    background:#f8f9fa; 
}
.header-bg{
width:100%;
height:45px;
background-color:#000;
}

.header-bg .language p{font-family: 'Open Sans';
font-size:12.52px;
color:#fff;
margin-top:10px;
}
.header-bg .login-register ul{list-style:none;
float:right;
margin-top:10px;
}
.header-bg .login-register ul li{font-family: 'Open Sans';
font-size:12.52px;
color:#fff;
display:inline-block;
border-right:1px solid #808080;
padding:0 10px;
}
.header-bg .login-register ul li:last-child{border-right:none;
}
.header-bg .login-register ul li a{text-decoration:none;
color:#fff;
}
.fa-pencil-square-o{padding-right: 2px;}
.flag {
    float: left;
    margin-right: 7px;
    margin-top: 10px;
}
.header-bg .login-register ul li a i{color:#f7b707;
}
.header-bg .login-register a.refer{color:#222222;font-family: 'OpenSans-Regular'; font-size:14px;}

a.refer {background-color: #f9a134;
    border-radius: 62px;
    padding: 3px 10px;
   }
.navbar.navbar-expand-lg.study_customnav {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
.navbar.navbar-expand-lg.study_customnav.about_nav{background-color:#222222;position:relative;}
.navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item{
	margin-right: 15px;
	position: relative;
}
.navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item:after{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 0%;
	height:4px;
	background:#fab907;
	content: '';
	margin:0px auto;
	 -webkit-transition: width 0.3	s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
}

.navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item:last-child{
	margin-right: 0px;
}
.navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-link{
	font-size: 18px;
	font-family: 'Poppins-Medium';
	color: #fff;padding:10px;
	text-transform: capitalize;
}

.banner-form{position:relative;}
.slider-form {
    max-width: 500px;margin-right:30px;
    height: auto;
    background-color:rgba(0, 0, 0, 0.49);
    width: 100%;
    z-index: 99;
	position:absolute;top:98px;right:0px;
}
.slider-form h3{font-family: 'Poppins-Regular'; 
font-size:30px;
color:#fff;
font-weight: 400;
}

.slider-form p {
    font-family: 'Open Sans';
    font-size: 18.78px;
    color: #fff;
    margin-top: 10px;
    font-weight: normal;
}
.slider-form  .field-ara select{width:100%;
height:45px;
border-radius:5px;
background-color:rgba(255,255,255,0.7);
margin-top:10px;
font-size:19px;
}
.slider-form .form-group label{
	color: #fff;font-size:19.55px; 
}
.slider-form .form-group .form-control {
    display: block;
    width: 100%;
    height: calc(2.40rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(255, 255, 255, 0.8);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-btn{font-family: 'Open Sans';font-size:19.2px!important;
	width:185px;
height:55px;
background-color:#fab907;
border-radius:5px;
margin:0 auto;
border:none;
font-size:19px;
color:#fff;
margin-top:30px;
cursor: pointer;
transition: all 0.5s ease; text-transform:uppercase;
}
.search-btn:hover{
	background-color: #f9971e;
}
.navbar-toggler {
    background: #fff;
    padding: 10px 10px;
    font-size: 14px;
}
.box{
    background: #fff;
    float: left;
    width:100%;

}

 .box img{float: left;margin-top: 10px;margin-right: 5px;padding-left:8px;}
.box p{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color:#262626;
    padding:10px 0px;
    margin:0;
}
.grey-border{
    border-right:1px solid #ebebeb;
}
.box_outer{
    position: relative;
    width: 100%;
}
.box_outer .full_img{
    width: 100%;
}
.box h3{font-family: 'Poppins-Medium'; 
    font-size:14px;
    padding:15px 10px;
    border-bottom: 1px solid #ebebeb;
    margin:0;
}
.box h3 a{
    text-decoration: none;
        color:#505050;

}
.view_all{
            margin:60px 0px 0px;
            width:100%;
            float:left;
}
.view_all a{
    background: #f9a134;
    color:#fff;
    font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
    border-radius: 40px;
}
.school{
  padding: 50px 0;
  background: #fff;  
}
.box-1{
    background: #fff;
    float: left;
    width:100%;
    border:1px solid #ebebeb;
    clear:both;
}
.box-1 h3{
    font-family: 'Poppins', sans-serif;
    font-size:12.5px;
    padding:20px 10px 10px;
    margin:0;
}
.box-1 h3 a{
    text-decoration: none;
        color:#505050;

}
.box-1 h5{
    font-size: 11px;
    color: #262626;
    margin:0px 10px;
            font-family: 'Open Sans', sans-serif;
}
.box-1 h5 .fa{
    color: #ababab;
    font-size: 14px;
    margin-right: 5px;
}
.box-1 h6{
    font-size: 12px;
    color: #262626;
    margin:10px 5px 10px 10px;
    font-family: 'Open Sans', sans-serif;
    float:left;
}
.box-1 ul{float:left;margin:0;}
.box-1 ul li{float:left;margin:6px 2px 0;list-style: none;}
.box-1 ul li span{color:#ffc928;font-size: 12px;}
.box-1 p{
    font-size: 10.18px;
    font-family: 'OpenSans-Regular';
    color:#262626;
    padding:10px 0px;
    margin:0;
    font-weight: 500;
    text-align: center;
}
.orange{
    color:#f9a134;
    font-weight: bold;
}
.box-bottom{
width:100%;
float:left;
border-top:1px solid #ebebeb;
}
.box_language{margin-left:0px;width:100%;} 
/* .box_language{position:relative;border:none;}
.box_language:after{content:"";position:absolute;top:0px;border-top:1px solid #ebebeb;} */
.view{
margin:60px 0px 0px;
width:100%;
float:left;
}
.view a{
background: #f9a134;
color:#fff;
font-size: 16px;
font-family: 'Open Sans', sans-serif;
padding: 10px 20px;
border-radius: 40px;
}
section {
    padding: 60px 0 40px;
}

/*****************************
*****************************
*****************************

                               // Responsive css //

*****************************
*****************************
**************************************/

@media (min-width: 1200px) and (max-width: 1350px) { 
.navbar-brand img{
width: 100%;
max-width: 130px;
}
/*.slider-form {
    max-width: 500px;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    padding: 40px 20px;
    margin-top: -20px;
    width: 100%;
    position: absolute;
    z-index: 99;

}*/
}
@media(min-width:1301px){
	.slider-form {margin-top:5%;}
}
@media(min-width:1200px) and (max-width:1300px){
	.slider-form {margin-top:10px;}  
}
@media(min-width:1200px){
	.about_sec2{height:340px;}
	.slider-form {padding:40px 20px;}
}

@media (max-width: 1199.98px) { 
.navbar-brand img{
width: 100%;
max-width:130px;
}

.slider-form p {
    font-size: 16px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 10px;
}
.slider-form h3 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
.search-btn{
	margin-top: 15px;
}
}
.slider-form .form-group .form-control option{font-family: 'OpenSans-Regular'; font-size:19.55px;}
@media (min-width:1600px) {
	.slider-form {margin-top:9%;}
}
@media (min-width:992px) and (max-width:1199px){
	.slider-form {margin:0; padding:20px 20px 30px;margin-right: 20px;}
	#study_slider .carousel-inner img {width: 100%;
    height: 534px;}
}
@media (min-width: 992px){
#study_slider .carousel-inner img {
	width: 100%;}
	.navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item.active:after,
 .navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item:hover:after{
	width: 85%;
}
}
@media (min-width:768px) and (max-width:991px){
	.slider-form {margin-top:35%;  
    padding:20px 20px 30px;}
}
@media (min-width:480px) and (max-width: 767px){
	.slider-form {margin-top:27%;  
    padding:20px 20px 30px;left:0;right:0%;}
}

@media (max-width: 991.98px) { 
/* .slider-form {
    padding: 30px;margin:0px auto;
    right: 0px;
	top:15%;
	max-width: 96%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);*/
	.study_customnav .navbar-collapse{position: relative;z-index: 999;padding: 10px 15px;background-color:#222222;}
} 
@media (max-width: 480px){
	.slider-form {margin-top:31%;  
    padding:20px 20px 30px;left:0%;
}
.search-btn{margin-top:0px;}
#study_slider .carousel-inner img {
width: auto;
}
#navbarResponsive {
    background-color: #222222;
    padding: 30px;
    z-index: 9999;
}
.navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item:after{
	display: none;
}
.navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item a:hover{
	color:#edae00 
}
}


#study_slider .carousel-inner::after{content:"";position:absolute;top:0px;left:0px;background:rgba(0,0,0,0.25);
width:100%;height:100%;}
.course_detail{margin: -38px 10px 0px;padding:20px 30px;position:relative;background-color: #fff;text-align:center;
box-shadow:0px 7px 7px rgba(80,80,80,0.15);}
/* .goal, .market, .search, .reg, .date, .fly{float:left;margin-top:-45px;} */
/*.course_detail img{padding-bottom:30px;} */

.inner_couse{padding:0px 4px;}
.course_detail span{ font-family: 'Poppins-SemiBold';font-size:15px;display:block;}
.deal_inner_list{position:relative;padding-right:0px;}
.deal_inner_list:hover{opacity:0.5;cursor:pointer;}
.deal_inner_list img{width:100%;}
.discount{position: absolute;top: 10px;left: -8px;background: #8bca48;padding: 10px 10px;overflow: visible;
display: block;z-index: 999;}
.discount p{margin: 0px;font-size: 13px;color: #fff;font-weight: normal;    line-height: 18px;}
.discount:after{content:"";position:absolute;bottom:-9px;left: -10px;border-left:10px solid transparent;
border-bottom:10px solid transparent;border-right:10px solid #386c00;}    
.deal_carousel{margin-bottom: 80px;}
.carousel-inner .carousel-item .row{margin:0px;}
.cus_title h1{font-size: 36px;line-height: 40px;margin-bottom: 20px;color:#505050; font-family: 'Poppins-Bold';} 
.cus_title span{font-family: 'Poppins-Medium';font-size:36px;}
.feature h1{ font-family: 'Poppins-Bold'; }
.feature span{font-family: 'Poppins-Regular'; }
p.feature{font-size:16px;color:#57585a;}
p.custom_p{font-size:16px;line-height:21px;color:#57585a;margin:0px;} 
.inner_deal{padding-bottom:15px;}
footer.footer{background:#2e3e77;padding:60px 0px 40px;}
.carousel_control_icon{width: 30px;height: 30px;top: -50px;color: #333;display: block;left:auto;background:#8bca48;
opacity: 1;color:#fff;padding:2px 3px;}
.carousel_control_icon i{color:#fff;font-size:24px;}
.deal_carousel .carousel-control-prev{right: 37px;border-top-left-radius: 15px;  border-bottom-left-radius: 15px;} 
.deal_carousel .carousel-control-next{right: 0px;border-top-right-radius: 15px; border-bottom-right-radius: 15px;} 
.wd50{width:50%}
.city_1{margin-left: 0px;margin-right: 0px;}
.course_no{padding-right:0px;}
.inner_language, .inner_2, .course_inn{margin-bottom:25px;}
.deal_box{float: left;padding:10px 6px 0px;}
.course_box{padding:10px;}
.courese_inner{margin-top:35px;}
.course_col{margin-bottom:30px;}
.deal_box, .course_box{background: #fff; width:100%;border:1px solid #ebebeb;}
.deal_box h3, .course_box h3{font-family: 'Poppins';font-size:13.9px;color: #505050;} 
.f-13 a{font-size:13.16px;}
.pd-25 h3{padding-bottom:25px;}
.inner_language .box-1 h3{ font-family: 'Poppins-Medium'; font-size:12.8px;}
.inner_language .box-1 h5{font-size:8.77px;}
.inner_language .box-1 h6{font-size:10.24px;}
.deal_box h3{margin:0;}
.course_box h3{margin: 0px 0px 5px;}
.f12 h3{font-size:12px;}
.deal_box h3 a{text-decoration: none;color:#505050;}
.deal_box h5{font-size: 11px;}
.deal_box h6, .course_box h6{font-size: 11px;float:left;} 
.deal_box h5, .deal_box h6, .course_box h6{color: #262626;margin:0px 10px 0px 0px;font-family: 'Open Sans', sans-serif;}
.deal_box h5{font-size:8.73px;}
.review_rgt h6{font-size:10.18px;}
.deal_box h5 .fa{color: #ababab;font-size: 14px;margin-right: 5px;vertical-align: middle;}
.deal_box ul, .course_box ul{margin:0;list-style-type:none;float:left;display:inline-block;} 
.deal_box ul li, .course_box ul li{margin:0px;display:inline-block;vertical-align: top;}
.course_box p{font-size:10px;color:#262626;margin:0px;}
.course_box p span{font-size:11px;color:#f9a134;font-weight:bold;display:inline-block;margin-right:3px;}
.deal_box ul li span, .course_box ul li span{color:#ffc928;font-size: 10px;display: block;line-height: 12px;} 
.deal_box p{font-size: 10.18px;font-family: 'OpenSans-Regular'; color:#262626;padding:10px 0px;margin:0;
text-align: center;margin-left:-5px;}
.deal_box .box-bottom{width:100%;float:left;position:relative;border:0px;}
.deal_box .box-bottom:before{content:"";border-top:1px solid #ebebeb;position:absolute;top:0px;left:-7px;width:106%;
}
.pd-2{padding-bottom:2px;}
.box-bottom .float-left, .box-bottom .float-right{padding:0px;}
.language_1{margin:0px;}

.review_box{float:left;width: 100%;margin-top: 8px;}
.review_box .loc_left{float:left;width:50%;}
.review_box .review_rgt{float:right;width:50%;}

.testmonial_course_sec{padding: 70px 0px 40px;}
.testmonial_course_sec h4{font-size:16px;line-height:21px;color:#505050;margin: 0px 0px 15px;font-family: 'Poppins-Regular'; }
.testmonial_course_sec h2{font-size:24px;line-height:28px;color:#505050;font-family: 'Poppins-Bold'; margin:0px;}
.test_inner{margin-top:40px;}
.test_inner img{float:left;border: 1px solid #333;padding: 7px;border-radius: 50%;margin-right: 20px;}
.test_inner p{margin:30px 0px 0px;font-family: 'PTSANS';font-size:16px;line-height:24px;font-weight: normal;}
.test_inner .testmonial_name{float:left;margin-top:15px;}   
.testmonial_name h3{font-family: 'PTSANS-BOLD';font-size:24px;line-height:28px;color:#505050;} 
.testmonial_name span{font-family: 'PTSANS';font-size:18px;line-height:21px;color:#505050;}  
.testimonial_slider .carousel-inner{margin-bottom:40px;}
.testimonial_slider ol.carousel-indicators{position:static;}
.testimonial_slider ol.carousel-indicators li{border:1px solid #f9a134;width:14px;height:14px;border-radius:50%;
background:transparent;}
.testimonial_slider ol.carousel-indicators li.active{background:#f9a134;}
.btn_round a{border-radius:40px;}
.cus_btn{text-align:center;}
.btn_full{display: block;width: 100%;}
.cus_btn a, .cus_btn a:hover, .cus_btn a:focus{background:#f9a134;color:#fff;border:none;outline:none;}
.cus_btn a{font-family: 'Open Sans', sans-serif;font-size:16px;line-height:24px;display:inline-block;
padding: 10px 20px;}
img.share_icon{position: absolute;right: 9px;top: 8px;}

/*About Page Css Start Here*/ 
.about_inner{background-color:#f8f9fa;}
.custom_tag_head{padding:30px 0px 30px 0px;}
.custom_tag_head span, .custom_tag_head h3{font-size:36px;}
.custom_tag_head span{font-family: 'Poppins-Bold'; }
.custom_tag_head h3, .custom_tag_head p{font-family: 'Poppins-Regular';}
.custom_tag_head p{font-size:16px;}
.about_img img{width:100%;}
.about_txt{border:1px solid #e1e1e1;padding:20px;background-color: #ffffff;}
.about_txt:hover{border:1px solid #222222;}
.about_txt h2{font-family: 'Poppins-SemiBold';font-size:24px;}
.about_txt p{font-size: 16px;line-height:24px;}
.about_txt a{font-size:16px;line-height:24px;color:#619800;font-family: 'OpenSans-SemiBold';border-bottom: 2px solid #619800;padding-bottom: 5px; }
.about_txt a:hover, .about_txt a:focus{color:#619800;border-bottom:2px solid #619800;}
.about_sec2 p{padding-bottom:20px;}
.story{padding-bottom:30px;}
.custom_padding{padding-top:30px;}
.sub_image{background-image:url(../images/subscribe.jpg);background-size:cover;	background-repeat:no-repeat;padding:310px 0 10px;position:relative;background-position:center;}
.subscribe_inner input{padding: 8px 15px 10px 30px;border:transparent;outline: none;}

.subscribe_inner a{background-color: #fab907;padding: 10px 20px;color:#fff;}
/*About Page Css End Here*/ 
/*Courses Css Start Here*/
.courses_sec ul li{ font-family: 'Poppins-Regular';font-size:16px;color: #505050; }
.cus_title ul{margin:0px;}
.cus_title ul li{list-style-type:none;display:inline-block;padding-right: 10px;}
.result input.results{width: 100%; padding: 21px 15px;font-size:16px;line-height:21px;background:#fff;font-family: 'Poppins-Regular';font-weight: normal;} 
.custom_search input, .custom_search input:hover, .custom_search input:focus{outline:none;box-shadow:none;border:1px solid #ccc;}
.custom_search .result input.results::-webkit-input-placeholder{ / Chrome/Opera/Safari /
  color: #505050; 
}
.custom_search .result input.results::-moz-placeholder { / Firefox 19+ /
  color: #505050;
}
.custom_search .result input.results:-ms-input-placeholder{ / IE 10+ /
  color: #505050;
}
.custom_search .result input.results:-moz-placeholder{ / Firefox 18- /
  color: #505050;
} 
.search_filter input{width: 100%; padding: 12px 10px;font-size:14px;line-height:18px;background:#fff;font-family: 'OpenSans-Regular';font-weight:300;color:#a8a8a8;box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);}
.search_filter input::-webkit-input-placeholder{ / Chrome/Opera/Safari /
  color: #a8a8a8; 
}
.search_filter input::-moz-placeholder { / Firefox 19+ /
  color: #a8a8a8;
}
.search_filter input:-ms-input-placeholder{ / IE 10+ /
  color: #a8a8a8;
}
.search_filter input:-moz-placeholder{ / Firefox 18- /
  color: #a8a8a8;
}
.pos_rel{position:relative;}	
section.inner_courses{padding:30px;}
.inner_box{border:none;padding:0px;}
.inner_box p{text-align:left;}
.user_img{margin-top:7px;}
.user_img img{padding-left: 90px;padding-right: 5px;}
.user_img span{font-size:16px;}
.box_course a{font-size:16px;font-family: 'Poppins-SemiBold';}
.box_course h5{font-size:14px;}
.box_course h6{font-size:10.24px;margin-left:26px;}
.inner_box p span{font-size:16px;margin-left:10px;}
.box_course p{font-size:12px;}
.load ul {margin:20px 0px 0px;display: block;list-style-type: none;padding:0px;text-align:center;width: 100%;}
.load ul li{display:inline-block;margin-right:8px;}
.load ul li:last-child{margin-right:0px;} 
.load ul li:nth-child(1) span{background:#bde593;}
.load ul li:nth-child(2) span{background:#a3dc67;} 
.load ul li:nth-child(3) span{background:#94d053;}
.load ul li:nth-child(4) span{background:#8bca48;}
.load ul li span{display: block;border-radius:50%;width:16px;height:16px;line-height:16px;}
.load_more a{text-align:center;margin:10px auto 30px;font-size:16px;font-family: 'VarelaRound-Regular'; text-transform:uppercase;}
 /*Courses Css End Here*/ 
 /*Checkout Css Start Here*/
 .mt-20{margin-top:20px;padding: 15px;margin-bottom: 25px;}
 .checkout_sec, .courses_det{background-color:#f8f9fa;}
 .checkout_inner, .course_inner{border:1px solid #d7d7d7;padding:15px;/* margin-top:20px; */background-color:#ffffff;}
.course_inner.choose_sec, .recommend_sec{padding:25px;margin-bottom: 25px;}
 .checkout_inner h4{font-size:18px; font-family: 'Poppins-SemiBold';padding-bottom:20px; }
 .input-field{padding-bottom:20px;}
.date {padding-bottom:0px;}
 .additional{padding-left:20px;}
 .order p{ font-family: 'Poppins-Light'; font-size:18px;margin-top:25px;color:#222222;}
 .order_border{border-bottom:1px solid #eee;margin:10px 0px;}
 .total p{font-size:22px;font-family: 'OpenSans-Regular'; }
 p.dvalue,  p.value{ font-family: 'OpenSans-Bold'; }
 p.value{margin-left:-10px;}
 .m22{margin-top:-20px;}
 .or span{font-size:18px;font-family: 'Poppins-Regular';}
.border_width{border-top:1px solid #222222;width:42%;margin-top:14px;}
.ml{margin-left:15px;}
 .paypal, .or, .visa{margin-top:20px;}
 .paypal a{font-size:18px;background-color:#eeeeee;padding: 10px 20px;border-radius: 10px;text-decoration:none;}
 .paypal a:hover{color:#222222;}
 .visa input{position:relative;}
 .visa img{position:absolute;top:37%;left:81%;}
 .place_order{margin-top:40px;}
 .place_order a{padding:15px 70px; border-radius:30px; background-color:#f9a134;color:#ffffff;font-size:18px;display:block;}
 .place_order a:hover{color:#ffffff;}
 .form-control:focus{outline:none; border-color: #222222;box-shadow: none;}
  /*Checkout Css Ends Here*/
  /*School Css Start Here*/ 
  .custom_search{padding-top: 30px;}
  section.inner_school{padding:32px 0px;}
  section.school_sec{padding:0px;}
  .school_sec h3{font-family: 'Poppins-Medium';font-size: 13.16px;}
  .school_sec h5{font-weight:500;font-size: 8.77px;}
  .school_sec h6{font-size: 10.24px;}
  .school_sec p{font-size: 10.18px;font-family: 'OpenSans-Regular';}
  /* .school_sec{margin-bottom:250px;} */
 .search_filter a{display:inline-block;} 
 .search_filter img.search_icon{position: absolute;right: 10px;top: 8px;}
  /*School Css Start Here*/
  /*Refer Css Start Here*/ 
  .refer_friend{background-color:#f8f9fa;}
  .inner_refer{margin-top:38px;border:1px solid #222222;background-color:#ffffff;padding-bottom: 52px;}
  .refer_txt{padding-top:30px;}
  .refer_txt h5, .or span{ font-family: 'Poppins-SemiBold'; font-size:18px;}
   .refer_txt p{font-family: 'Poppins-Regular';font-family: 'Poppins-Light'; font-size:16px;}
  .share_links{padding:50px;}
  .share_links ul{float: left; margin: 0;display:inline-block;}
  .share_links li{margin:6px 18px 0px 18px;list-style: none;font-size:16px;font-family: 'Poppins-Light';
  display:inline-block; }
  .share_links span{display:block;}
  .or p{font-family: 'Poppins-Light';font-size:16px;}
  .input-link input {width:80%;float:left;outline:none;}
  .input-field input:focus{outline:none; border-color: #222222;box-shadow: none;}
  a.send{float:left; margin-left: 20px; padding: 8px 24px;  background-color: #edae00;color: #ffffff;}
  
  /*Refer Css End Here*/
 /*Course-detail Css Start Here*/ 
 section.courses_det{padding:0px;}
 h1.distance{font-family: 'Poppins-Bold';}
 .english h2,  .dist h3{ font-family: 'Poppins-Medium'; font-size:18px;color:#505050;}
 .detail_box{padding-left:48px;}
 /* .detail_box col-md-4{margin:0px; padding:0px;} */
 .detail_box h6, .detail_box h5, .detail_box p{margin:0px;}
 .detail_box h5, .detail_box p,  .form-control option, h6.rev{font-family:'Poppins-Regular'; font-size:14px;}
  .detail_box i{margin-right:5px;}
  .detail_box h6{float:left;}
  .detail_box ul{float: left; margin: 0;display:inline-block;}
  .detail_box li{list-style: none;display:inline-block;margin: 0px 0px 0px 5px; }
 .detail_box ul li span{color: #ffd800;font-size: 16px;}
 .choose_sec h2, .learn h2{font-family: 'Poppins-SemiBold'; font-size:18px;color:#676767;}
 .course_img img{width:100%;}
 h2.price{border-bottom:1px solid #eee;padding:10px;}
 .choose_sec p, .choose_sec span{font-size:16px;}
 .take_course a{font-family: 'Poppins-Regular';}
 .dist h3{font-size:15px;}
 .eng h5, .eng h6{font-size:12px;}
 .eng span{font-size:13.82px;}
 .choose_sec span{float:right;margin-right:70px;}
 .date input, .time input{border: 1px solid #e1e1e1;}
 .date input{padding:5px 10px;}
 .time input{padding:5px 15px;}
 .fee{padding:12px 0px 5px 0px;}
 .fee h5{font-family: 'Open Sans', sans-serif;font-size:16px;margin:0px;}
 .fee h3{font-size:18px; font-family: 'OpenSans-Bold'; margin:0px;}
 .total_rate{margin-top:20px;}
 .total_rate h3, .total_rate h5{font-size:22px;margin:0px;}
 .total_rate h5{font-family: 'OpenSans-Regular';}
 .total_rate h3{font-family: 'OpenSans-Bold';text-align: right;}
 .learn{border:none;padding-left:15px;}
 .learn p, .learn ul li span{font-size:16px;padding-top:10px;}
.learn h2{padding: 20px 0 20px;}
/* .deal_carousel {margin-top:-55px;} */
.h450{height:450px;}
.p20 h2, .p20 p, .p20{padding:0;}
.p20 h2{margin-left:10px;}
.p-10 h3{ padding: 10px 0px 0px 10px;}
.p-10{padding: 20px 0px 20px 0px;}
.p20 p{text-align:left;margin-left:10px;}
.review h2{float:left;}
.mar ul{ margin: -6px 0 0 10px;}
.m20{margin-top: -20px;}
.review ul li span, .rating ul li span{color:#f9a134;}
.rating h2, .rating h4{color:#bbbecf;}
.rating h3{font-size: 48px;padding: 25px;}
.rating ul{margin-left:32px;}
.avg{margin-top:0px;}
.m30{margin:30px 0px 20px 0px;}
.rating_line, .orange_rating{height:10px;border-radius: 25px;margin-top:10px;}
.rating_line{background:#e9ecef;width: 100%;}
.orange_rating{background: #f9a134;width: 50%;}
.stars_rate{padding:4px;}
div.client{margin-left:0px;}
.cou h2{font-size:20px;font-family: 'Poppins-Medium';}
.cou h5, .cou h6{font-size:12px;color:#9c9c9c;}
.out_br{border:1px solid #ebebeb;padding: 10px;}
.rgt-bor{border-right:1px solid #222222;padding-right:10px;color:#9c9c9c;}
.lesson{padding-top: 10px;}
.res a{font-size:13px; margin-right:16%;font-family: 'Poppins-SemiBold';border-bottom: 1px solid #222222;}
.centers h6, .centers h5, .centers h6{font-size:14px;font-family: 'Poppins-Medium';}
/*Course-detail Css End Here*/ 
/* City School Start*/
.s_tabs ul li{margin-right:10px;}
.school_des .nav-tabs{border:none;}
.school_des .nav-tabs a{border:1px solid #dee2e6;}
.school_des a, .school-tabs a{margin-right: 15px;background-color:#f7f7f7;color: #222222;padding: 10px;}
.s_tabs{font-family: 'Poppins-Medium';font-size: 20px!important;}
.school_des .nav-tabs a:hover, .s_tabs a:hover{background-color:#ffffff;color:#222222;}
.bg-yel{background-color:#fcb906;max-height:730px;}
.cal .select_dropdown{background-color:#ffffff;}
.cal-form {position:relative;}
.csl{padding-right:25px;}
.rev ul{margin:5px;}
.book_now a{background-color:#ffffff;color:#222222;padding: 12px 50px;display:initial;}
.book_now a:hover{color:#222222;}
.city_head h2{font-size: 24px;font-family: 'Poppins', sans-serif;}
.date input{text-align:left;width: 100%;display: block;}
.date span{position: absolute;top: 6px;right:  -14px;}
.date i{position: absolute;bottom: 28%;left: 93%;}
.nav{border:none}
.add{border-right:1px solid #222222;margin-top: 5px;}
.no-border{border:none;}
.rev ul li{margin: 0px 2px 0;}
.add i{margin-right:5px;}
.add h5{font-size:16px;}
.add span{font-family: 'Poppins', sans-serif;}
.about_sch h2{font-size:18px;padding:10px;font-family: 'Poppins-SemiBold';}
.about_sch p, .about_sch ul li span{color:#828282;}
h6.add-rev{font-size:14px;margin-top:8px;font-family: 'Poppins', sans-serif;}
.chart_line{position: relative;top: -37px;width: 83%;left: 19%;}
.outer_border{border: 5px solid #828282;border-radius: 12px 0px 12px 0px;padding:12px;border-width: 5px 1px 1px 5px;height: 109px;margin-bottom: 10px;}
.outer_border span{font-family: 'Poppins-Medium';font-size: 13px;color:#828282;}
.bt>div{width:18%;margin:25px 12px 10px 0px;}
.bt h5{font-family: 'Poppins-Bold';font-size: 24px;}
.student_fac ul li{list-style: none;}
.student_fac ul li i{margin: 0px 10px 3px 5px;color: #ffd800;}
.student_fac ul li span, .rating_rev ul li span{font-size: 16px;}
.border-line{border-bottom:1px solid #e1e1e1;}
.inter_head h2{font-size:15px;padding:7px;}
.deal_box .white span{color:#e0e0e0;}
.week-form>div.form-group{margin-bottom:0px;}
.week-form>div .form-control{padding:0px;}
.orange_font{padding-right: 20%;font-size: 20px;color: #f6bb1f;}
.owl-carousel .owl-nav.disabled{display:block;}
.cou>div.col-md-4{padding:0px;}
h5.age{margin-left: 10px;float: left;}
.rat_form>div.form-group{float: right;margin-right: 18%;}
.rat_form>div.form-group select{padding:0px;}
.mx-w{max-width:25%;}
.school_in a:hover, .lesson span{color:#222222;}
select.hauto{height:auto;}
h2.stu{font-size:16px;}
.cou_dur>div.form-group select{font-size:12px;margin-left: 36px;width: 67%;}
.cou_dur>div.form-control{padding:0px;}
.sm_arrow{top: 3px!important;right: 18px!important;}
.sm_arrow i{font-size: 29px!important;}
.date input, .date span{color:#fccf50;}
.res a{cursor:pointer;}
.res a:hover{color:#222222;}
.review_views>div.col-md-2, .review_views>div.col-md-10{float:left;}
.review_views{margin-top:10px;}
.viwers_txt span, .viwers_txt p,  i.reply{color:#828282!important;}
i.thumb, i.reply{color:#fba12f;font-size:26px;}
span.f17{font-size:18px !important;}
/* City School End*/
/* Chart Css */
.students_percentage .highcharts-series-group .highcharts-point{fill:#fbb90b;}
.students_percentage .highcharts-button-symbol{display:none;}
.students_percentage .highcharts-xaxis-labels text{font-size: 14px!important;font-family: 'Poppins', sans-serif;}
.students_percentage{position:relative;}
#chart_stu{padding-left:30px;}
.txt_nation{position:absolute;top:40%;left:-15px;-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
transform: rotate(270deg); /* Standard syntax */}
.txt_nation h2, .per_stu span{font-size:14px;font-family: 'Poppins', sans-serif;}
.highcharts-legend{display:none;}
/*Footer Css Start Here*/ 
.footer .footer_info ul li{font-size:14px;line-height:24px;margin-bottom:10px;font-family: 'Open Sans', sans-serif;}
.footer .footer_info ul li i{margin-right:10px;font-size:21px;} 
.footer .footer_info p, .footer .footer_link ul li, .footer .footer_link ul li a{font-size:16px;line-height:21px;font-family: 'Open Sans', sans-serif;}
.footer .cus_inner_foot ul li a, .footer .cus_inner_foot ul li, .footer .cus_inner_foot p{color:#cdd8ff;font-weight:400;}
.footer .cus_inner_foot h4{font-weight:500;font-size:24px;line-height:28px;color:#fff;margin:0px 0px 20px;}
.footer .cus_inner_foot ul, .footer .copyright_footer ul{list-style-type:none;padding:0px;margin:0px;}
.footer .footer_link ul li{line-height:24px;padding-bottom:10px;}
.footer .copyright_footer{margin-top:20px;border-top: 1px solid rgba(205, 216, 255, 0.16);padding:35px 0px 0px;} 
.footer .copyright_footer p{font-size:16px;line-height:21px;font-family: 'Open Sans', sans-serif;color:#a3afd8;} 
.footer .copyright_footer ul li{display:inline-block;margin-right:10px;}
.footer .copyright_footer ul li:last-child{margin-right:0px;}
.footer .copyright_footer ul li a i{font-size:16px;line-height:21px;width:44px;height:44px;padding: 11px 14px;
color:#fff;background:#39487e;border-radius:50%;}
.footer .copyright_footer ul{float:right;}
.footer .copyright_footer ul li.fb_icon a i{padding: 11px 18px;}
.footer .footer_post .foot_post{float:left;margin-bottom:20px;}
.footer .footer_post .foot_post img{float:left;}
.footer .footer_post .foot_post p{padding-left:90px;font-size: 16px;line-height:21px;font-size:16px;line-height:21px;
font-family: 'Open Sans', sans-serif;color:#a3afd8;}
.footer .footer_post .foot_post p span{font-size: 12px;line-height: 21px;display:block;}
img.add{margin-left:-9px;}
div.client{margin-left:0px;}
/*Footer Css End Here*/

@media(min-width:1300px){
	.container{width:1170px;}
}

@media(min-width:1200px) and (max-width:1350px){
	.p25 h3{padding-bottom:25px;}
}
@media(min-width:992px) and (max-width:1199px){
	.user_img img{padding-left:20px;}
		.paypal a{font-size:14px;}
	.place_order a{padding: 15px 70px;}
	.visa img{top: 31%;left: 77%;}
	.inner_box p span{margin-left:0px;}
	.input-link input{width:75%;}
	.share_links li{margin: 6px 2px 0px 10px;}
	.take_course a{padding: 15px 60px;}
	h3.interact{padding: 10px 10px 3px;}
	.stars_rate>div.col-md-1{padding-right:0px;}
	.learn h2{font-size:17px;}
	.m-b-18 h3{padding-bottom: 24px;}
	.m-b-9 h3{margin-bottom: 6px;}
	.deal_box .box-bottom {width: 97%;}
	.pd-10 h3{padding-bottom:8px;}
	.add span{font-size:13px;}
	.bt > div{width: 22%;text-align: center;margin: 0px auto;}
	.sch_web>div.col-md-4{padding-right:0px;}
	.mx-w{max-width:25%;}
	.bg-yel{max-height:740px;}
	.cal-form span{right:-41px;}
	.sch_web{margin-bottom:10px;}
	.cou_dur > div.form-group select{margin-left:19px;padding:5px;}
	.sm_arrow{right: 23px !important;}
}
@media(min-width:992px){
	.sub_image{margin-top: 100px;}
}
@media(max-width:991px){
	.courses{padding-top:20px;}
	.course_detail{z-index:99}
	.box_language{margin-left:0px;}
	.box_language{margin-left:0px;}
	.user_img img{padding-left:20px;}
	p.dvalue{margin-left:-23px;}
	p.value{margin-left:-34px;}
	.visa img {top: 32%;left: 68%;}
	.place_order a {padding: 15px 34px;}
	.paypal a{font-size:12px;}
	.paypal img{width:26%;}
	.border_width{width:37%;}
	.inner_box p span{margin-left:0px;}
	.input-link input{width:67%;}
	.owl-theme .owl-nav{margin-top:0px;}
	.rating h4{font-size:14px;}
	.stars_rate>div.col-md-3{width:30%;}
	.stars_rate>div.col-md-8{width:60%;}
	.stars_rate>div.col-md-1{width:10%;padding-right:0px;}
	.learn h2{font-size: 14px;}
	.rating h3{padding:0px;}
	.detail_box li{margin:0px;}
	.navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item.active:after,
 .navbar.navbar-expand-lg.study_customnav .navbar-nav .nav-item:hover:after{
 width: 100%;}
	.course_col { margin-bottom: 30px;width: 100%; flex: auto;max-width: initial;}
	.add h5{font-size:13px;}
	.add span, .web_img span{font-size:10px;}
	.add img{width:13px;}
	.bt > div{width: 27%;text-align: center;margin: 0px auto;}
	.sch_web>div.add{padding-right:0px;}
	.sch_web>div.web_img{padding-left:0px;}
	.mx-w{max-width:25%;}
	.add i{margin:0px;}
	.web_img img{width:15px;}
	.sch_web{margin-bottom:10px;}
	.bg-yel{max-height:770px;}
	.cal-form input{font-size:10px;}
	.cal-form span{right:-51px; font-size:12px;}
	.cal.choose_sec select{padding:5px;font-size:11.5px;}
	.select_arrow i{font-size: 25px!important;margin-top: 6px;}
	.select_arrow{right: 3px!important;}
	.cou_dur > div.form-group select {margin-left:0px;width: 100%;padding:3;}
	span.f13, h5.f13{font-size:13px!important;}
}
@media (min-width:768px){
	.school_sec{padding-bottom:100px !important;}
}
@media(min-width:768px) and (max-width:990px){
	.inner_box p span{margin-left:10px;}
	
}
@media(min-width:768px) and (max-width:991px){
	.sub_image{margin-top: 80px;}
	.m-b-18 h3{padding-bottom:14px;}
	.pd-25 h3 {padding-bottom: 10px;}
	.date_sec>div.col-md-7{padding-left:0px;}
	.date input, .time input{padding:8px 0px;}
	.outer_border{padding:9px;}
	
	}

@media(max-width:767px){
	.school_sec{padding-bottom:120px!important;}
	.language{width:40%;}
	.login-register{width:60%}
	.inner_box p span{margin-left:10px;}
	.header-bg .login-register ul li{padding:0px;}
	.about_sec2{height:auto;}
	.wd100_xs{width:100%;max-width:100%;flex:auto;margin-bottom:20px;}
	.about_txt{max-width:100%;}
	.course_box h6{margin: 0px 10px 0px 0px;}
	p.dvalue, p.value{margin-left:0px;text-align:right;}
	.input-link input{width:54%;}  
	.sub_image{margin-top: 50px;}
	.fee >div, .total_rate>div{width:50%;}
	.stars_rate>div.col-md-3, .review>div.col-md-3{width:30%;}
	.stars_rate>div.col-md-8{width:60%;}
	.stars_rate>div.col-md-1{width:10%;padding-right:0px;}
	.review>div.col-md-9{width:70%;}
	.inner_couse {margin-bottom: 20px;}
	.rating ul{margin-left:0px;float:none;}
	.wd33{width:33%;}
	.detail_box{padding-left:0px;}
	.date_sec{width:65%;}
	.time_sec{width:35%;}
	.bt > div{width: 27%;text-align: center;margin: 0px auto;}
	.w34{width:34%;}
	.outer_border span{font-size:12px;}
	.add{border:0;}
	div.rat_form{text-align:left!important;}
	.cou_dur > div.form-group select{margin-left:0px;width: 34%;padding: 6px;}
	.sm_arrow{left:25%;}
	.school_des .nav-tabs li{margin-bottom:10px;}
	.cal-form span{right:0px;}
	.school_slider .owl-nav button{width:22px!important;height:22px!important; font-size:19px!important;}
	.school_slider .owl-carousel .owl-nav button.owl-prev{right:24px!important;}
}
@media(max-width:600px){
	.copyright_footer .wd100_xs{width:100%;display: block;max-width: 100%;text-align: center;flex:auto;}
	.footer .copyright_footer ul{float:none;}
}
@media(min-width:576px) and (max-width:767px){
		.mx-w{max-width:25%;}
		.web_img{padding-top:3px;}
		.web_img img{width:16px;height:14px;}
		.web_img span{font-size:10px;}
}
@media(min-width:481px) and (max-width:575px){
	.user_img{margin-top:-34px;}
	.inner_couse{padding-bottom:15px;}
}
@media(min-width:481px){
	.custom_search .search_filter{position:absolute;top:10px;right:35px;width: 35%;}
}
@media(max-width:480px){
	.wd100_xs{width:100%;}
	.inner_deal{text-align:center!important;}
	.language{width:35%;padding-left:8px;padding-right:0px;}
	.login-register{width:63%;padding:0px;}
	.client h3{margin-left:10px;}
	.header-bg .login-register ul li{padding:1px;font-size:12px;}
	li.friend{float:right;}
	a.refer{padding:3px 6px;}
	.course_no{margin-top:10px;}
	.course_no img{margin: 0px;padding-right: 5px;}
	.course_no p{margin-top: -10px;}
	.about_sec2{height:auto;}
	.subscribe_inner input {padding: 8px 0px;}
	.user_img img{padding-left:30px;padding-right: 5px;}
	.week{width:50%;}
	.inner_box p{margin:0px;}
	.place_order a{padding: 15px 72px;}
	.paypal a{font-size:16px;}
	.course_detail img{padding-bottom: 5px;margin-top: 20px;}
	p.dvalue, p.value{margin-left:0px;text-align:right;}
	.input-link input{width:45%;}
	.fee >div, .total_rate>div{width:50%;padding-right:0px;}
	.take_course a{padding: 15px 60px;}
	.stars_rate>div.col-md-3{width:30%;}
	.stars_rate>div.col-md-8{width:60%;}
	.stars_rate>div.col-md-1{width:10%;}
	.inner_box p span{margin-left:10px;}
	/* img.search_icon{width: 25px;height: 28px;right: 6%;top: 27%;}
	input.search_box {width: 44%;margin-left: -46%;padding:5px;} */
	.custom_search .search_filter{width:100%;margin-top:10px;position: relative;}
	.date_sec{width:65%;}
	.time_sec{width:35%;}
	.school_des a, .s_tabs a{padding:0px;}
	.s_tabs>div.nav-item a{font-family: 'Poppins-Medium';font-size: 16px;}
	.bt > div{width: 40%;text-align: center;margin: 0px auto;}
	.about_sch h2{font-size:15px;}
	.mx-w {max-width: 40%;}
	.web_img{width:52%;}
	.w34{width:53%;}
	.w100{width:100%;}
	.sch_web > div.web_img{padding-left:10px;}
	
	.deal_carousel.owl-theme .owl-nav{top:-43px!important;right:-4px!important;}
	.school_des .nav-tabs a{padding:5px 10px;}
	.school_des .nav-tabs li{display:inline-block;margin-bottom:10px;}
	.outer_border{padding:7px;}
	.cal-form span{right:0%;}
	h6.add-rev{margin-left:0px;}
} 
@media(max-width:400px){
	a.refer{padding:3px 1px;}
	.header-bg .login-register ul li {padding: 1px;
    font-size: 11px;}
	.header-bg .login-register a.refer{font-size:12px;}
	.centers h6, .centers h5, .centers h6{font-size:12px!important;}
	
}
@media(min-width:320px) and (max-width:360px){
		.review>div.col-md-3{padding-left:0px;}
		.lesson h6, .lesson h5{width:100%;}
		h6.rgt-bor{border:none;}
		
}
@media(min-width:300px) and (max-width:400px){
		.about_sch h2{font-size:14px;}
		.w34{width:55%;}
}

@media(min-width:991px) and (max-width:1199px){
	.cities_1{padding-left:9px;}
	.box h3{font-size:13px;}	 
	.course_no img {margin-left: -16px;}
}
.course_detail_txt h2, .recommend_sec h2{padding:0px;} 
.recommend_sec h2{margin:0px 0px 20px;border-bottom:1px solid #eee;padding-bottom:20px;}
.deal_carousel.owl-carousel .owl-stage-outer{padding-top: 0px;}
.deal_carousel.owl-theme .owl-nav{margin-top:0px;top:-57px;}
.course_detail_txt ul{list-style-type:none;padding-left: 15px;padding-top: 10px;}
.course_detail_txt ul li{padding-bottom: 15px;position:relative;}
.course_detail_txt ul li:last-child{padding-bottom: 0px;}
.course_detail_txt ul li span{padding-top: 0px;padding-left: 25px;}
.course_detail_txt ul li:before{content:"";width:13px;height:13px;background:#505050;border-radius:50%;position: absolute;top: 5px;left: 0px;}
.choose_sec select{font-family: 'Poppins-Regular';color:#505050;font-size:14px;line-height:21px;border-radius: 0px;-webkit-appearance: none;-moz-appearance: none;font-weight: 400;position: relative;
z-index: 3;}
.choose_sec .select_dropdown{position:relative;} 
.select_arrow{position: absolute;top: 0px;right: 10px;z-index: 2;}
.select_arrow i{font-size: 35px;color: #9c9c9c;font-weight: 300;}
.choose_sec select:hover{cursor:pointer;}
.choose_sec select, .choose_sec select:hover, .choose_sec select:focus{border:1px solid #e9ecef;background: transparent;}
.course_border{width:100%;border-top:1px solid #eee;margin-bottom:30px;}
.padl0{padding-left:0px;}
.md_20{margin-top:20px;}
.padr_10{padding-right:10px;}
.price_value{text-align:right;}
.grey_bg_color{background:#f8f9fa;} 
/* .school_sec .inner_language .box-1 h3{padding: 20px 7px 10px;} */
.school_sec .inner_language{padding: 0px 10px;}